<div class="container">
  <div class="col-sm-12 col-md-2">
    <img class="footer-blubeta-logo" src="assets/images/blubeta-logo-white.svg">
  </div>
  <div class="col-sm-12 col-md-offset-1 col-md-4">
    <ul class="menu menu-footer" ng-controller="scrollCtrl">
      <li><a ng-click="scrollTo('welcome')">home</a></li>
      <li><a ng-click="scrollTo('about')">about</a></li>
      <li><a ng-click="scrollTo('why-us')">our difference</a></li>
      <li><a ng-click="scrollTo('services')">services</a></li>
      <li><a ng-click="scrollTo('affiliates')">affiliates</a></li>
      <li><a ng-click="scrollTo('faq')">FAQ</a></li>
      <li><a ng-click="scrollTo('contact')">contact</a></li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-offset-1 col-md-4">
    Social Media
  </div>
</div>
