<div class="container">
  <div class="col-sm-12 col-md-2">
    <img class="footer-blubeta-logo" src="assets/images/blubeta-logo-white.svg">
  </div>
  <div class="col-sm-12 col-md-offset-1 col-md-6 menu-footer">
    <ul class="menu" ng-controller="scrollCtrl">
      <li><a ng-click="goTo('welcome')">home</a></li>
      <li><a ng-click="goTo('about')">about</a></li>
      <li><a ng-click="goTo('why-us')">our process</a></li>
      <li><a ng-click="goTo('services')">services</a></li>
      <li><a ng-click="goTo('affiliates')">affiliates</a></li>
      <li><a ng-click="goTo('faq')">FAQ</a></li>
      <li><a ng-click="goTo('contact')">contact</a></li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="social-media">
      <span class="socicon-twitter icon"></span>
      <span class="socicon-facebook icon"></span>
      <span class="socicon-linkedin icon"></span>
    </div>
    <div class="copyright">
      <div>Copyright &copy; 2016 by <span class="blubeta-word-logo white">blubeta</span></div>
      <div>All Rights Reserved</div>
    </div>
  </div>
</div>
