/* app css stylesheet */

/* 

grey 
#ADB6B5

dark grey 
#6c7373

blue 
#085DAD

light-blue 
#21BEDE

green
#8CC739

*/

body{
  color: #6c7373;
  font-family: 'Helvetica';
}

ul {
  list-style-type: none;
}

ul li {
  margin-top:1em;
  color: #6c7373;
}

ul li:before {
  content: '>';
  color: #8CC739;
  font-weight:bold;
  margin-right:.5em;
}

p {
  color: #6c7373;
}

a {
  cursor: pointer;
}

.h1-main{
  color:#085DAD;
  font-family: "pt-sans-narrow";
  font-size:6vw;
  font-weight:800;
  text-align:center;
}

.h2-main {
  color:#085DAD;
  font-family: "pt-sans-narrow";
}

.h3-main{
}

.white{
  color:white
}

.divider, .divider-light{
  width: 5vh;
  margin-left:auto;
  margin-right:auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.divider{
  border-bottom:1px solid black;
}

.divider-light{
  border-bottom:1px solid #ADB6B5;
}

.pt-sans-narrow{
  font-family: "pt-sans-narrow";
}

.industry{
  font-family: 'industry';
}

.centered{
  text-align:center;
}

.light-blue{
  color: #21BEDE;
}

.blubeta-word-logo-header, .blubeta-word-logo{
  font-family: 'industry';
  text-transform: uppercase;
  font-weight: 900;
  color: #085DAD;
}

.blubeta-word-logo-header {
  margin-left:1em;
}

.menu-wrapper{
  padding:1em 0em;
  position: fixed;
  background-color:white;
  width:100%;
  z-index:100;
}

.menu{
  text-transform: uppercase;
  font-family: "pt-sans-narrow";
}

.menu a{
  color: #6c7373;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight:100;
}

.menu-top {
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
}

.menu-top > li {
  display: inline;
  cursor: pointer;
}

.menu-top > li:before {
  padding-right: 1em;
}

.menu-top > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.menu-blubeta-logo {
  max-width:2em;
  display:inline-block;
}

.menu-offset {
  padding-top: 14vh;
}

.section-offset{
  margin-top: 20vh;
}

.content-wrapper {
}

.partial-images{
  width:80%;
}

.wrapper {
  min-height:100vh;
}

.wrapper > div{
  overflow:auto;
}

.content-wrapper:after {
  /*background-image: url('assets/images/background-hexa.png');*/
  background-repeat: no-repeat;
  background-size: contain;

  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/*************/
/* GROUPINGS */
/*************/

#affiliates h2, #faq h2 {
  text-align: center;
}

#faq .answer:before,
#faq .question:before, 
#footer .menu-footer ul.menu li:before, 
.menu-top li:before{
  content: '';
  margin-right:0;
}

/************/
/* SECTIONS */
/************/

/***********/
/* WELCOME */
/***********/

h1.welcome {
  margin-top:0;
  font-family: 'fatfrank';
  font-size: 10ch;
  color: #8CC739;
  margin-bottom:5vh;
}

#welcome ul{
  padding-left:0;
}

#welcome img{

}

/*********/
/* ABOUT */
/*********/

#about{

}

#about .border-top{
  border-top: 2px solid #ADB6B5;
  margin-top:10vh;
  padding-top:5vh;
}

#about .words{
  font-size: 12ch;
}

#about .logo-vspacing{
  margin-top:10vh;
}

#about .short p{
  text-align: justify;
  margin:0;
}

#about .history-spacing{
  margin-top: 5vh;
}

/************/
/* LOCATION */
/************/

#location img{
  width: 90%;
}

/******************/
/* VISION MISSION */
/******************/

#vision-mission{

}

#vision-mission p{
  text-align:center;
}

#vision, #mission{
}

#mission{
  margin-top: 5vh;
}

/*************/
/* SERVICES  */
/*************/

.services{
  height: 100vh;
  background-color: #085DAD;
  color:white;
}

.services p{
  color:white;
}

.services .service-box{
  text-align:center;
  height: 200px;
}

.services .service-box:after{
  background-image: url('assets/images/box.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.services h3{
  line-height:200px;
}

.services h4{
  margin-top:5vh;
  line-height:5vh;
}

.services ul{
  padding-left:0;
}

.services ul li{
  color:white;
}

/**************/
/* AFFILIATES */
/**************/

#affiliates{
}

#affiliates .row{
  margin-top: 5vh;
}

#affiliates .thumbnail{
  display:block;
  height:100%;
}

#affiliates .copy{
}

/**********/
/* WHY US */
/**********/

.laptop-img{
  margin-top:5vh;
}

/****************/
/*  CONTACT US  */
/****************/
.contact{}

.contact input{
  width:100%;
  height: 2em;
  margin: 2em 0em;
  padding: 2em;
  color: #6c7373;
  background-color: #e6e6e6;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #fff;
}

.contact textarea{
  width:100%;
  padding: 2em;
  margin: 2em 0em;
  color: #6c7373;
  background-color: #e6e6e6;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #fff;
}

.contact button{
  float:right;
}

/***********/
/*   FAQ   */
/***********/

#faq {
  
}

#faq ul{
  list-style-type: none;
  padding-left:0;
}

#faq .question {
  color: #8CC739;
  font-weight: bold;
  font-size:1.2em;
  margin-top:2vh;
}

#faq .answer {
  text-decoration: none;
  color: #6c7373;
  text-align:justify;
}

#faq .faq-ul{
  list-style-type: none;
}

/***********/
/* FOOTER  */
/***********/

#footer{
  height: 20vh;
  background-color: #ADB6B5;
  color:white;
  padding-top:1em;
}

#footer .footer-blubeta-logo{

}

#footer .menu-footer {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

#footer .menu-footer ul{
  text-transform: uppercase;
  color:white;
  list-style-type:none;
}

#footer .menu-footer ul li{

}

#footer .menu-footer ul li a{
  color:white;
  font-size:.8em;
}

#footer .social-media{
  float:right;
  clear:both;
}

#footer .social-media .icon{
  font-size:1.5em;
  margin-left:1em;
}

#footer .copyright{
  float: right;
  clear: both;
  margin-top: 2em;
  font-size: .8em;
  text-align: right;
}
