<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="blubeta" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="blubeta" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="blubeta" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="blubeta" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content=""/>
  <meta name="description" content=""/>
  <meta keywords=""/>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=.7"/>
  <!-- start: Facebook Open Graph -->
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:type" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>
  <!-- end: Facebook Open Graph -->
  <!-- start: Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  <!-- end: Twitter Card -->
  <link rel="shortcut icon" href="">

  <title>blubeta</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="responsive-app.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">

  <script src="bower_components/tether/dist/js/tether.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="menu-wrapper">
    <div class="container">
      <div class="col-md-2">
        <img class="menu-blubeta-logo" src="assets/images/blubeta-logo.svg">
        <span class="blubeta-word-logo-header">blubeta</span>
      </div>
      <div class="col-md-10">
        <ul class="menu menu-top hidden-xs-down visible-sm-up" ng-controller="scrollCtrl">
          <li><a ng-click="goTo('welcome')">home</a></li>
          <li><a ng-click="goTo('about')">about</a></li>
          <li><a ng-click="goTo('why-us')">our difference</a></li>
          <li><a ng-click="goTo('services')">services</a></li>
          <li><a ng-click="goTo('affiliates')">affiliates</a></li>
          <li><a ng-click="goTo('faq')">FAQ</a></li>
          <li><a ng-click="goTo('contact')">contact</a></li>
          <li><span class="socicon-twitter"></span></li>
          <li><span class="socicon-facebook"></span></li>
          <li><span class="socicon-linkedin"></span></li>
        </ul>
      </div>
    </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ui-view class="content-wrapper"></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.min.js"></script>
  <script src="app.js"></script>
  <script src="home/home.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://use.typekit.net/jkp7enw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
